.first_table{
    color: cyan;
    background-color: black;
}
.ghhjhggh{
    font-style: italic;
    font-size: 30px;
}
.glance{
    font-style: normal;
    font-size: 20px;
    color: blue;
    background-color: black;
}
.master{
    font-style: oblique;
    font-size: 20px;
    color: blueviolet;
    background-color: black;
}

